<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <i class="material-icons">calendar_today</i>
        </div>
        <h4 class="card-title">
          <strong>{{ titulo }}</strong>
        </h4>
      </div>

      <form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <mat-form-field>
                <mat-label>DÍA</mat-label>
                <mat-select formControlName="dia">
                  <mat-option
                    *ngFor="let item of listaSemana"
                    [value]="item.codigo"
                  >
                    {{ item.valor }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input
                  type="text"
                  matInput
                  placeholder="HORA DE APERTURA"
                  formControlName="horaAperturaCadena"
                  required
                />
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input
                  type="search"
                  matInput
                  placeholder="EMPLEADO"
                  formControlName="nombreEmpleado"
                  (click)="buscadores('empleado')"
                />
                <button
                  mat-button
                  matSuffix
                  mat-stroked-button
                  aria-label="search"
                  (click)="buscadores('empleado')"
                >
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="example-full-width">
                <input
                  type="text"
                  matInput
                  placeholder="INTERVALO MINUTOS"
                  formControlName="intervaloMinutos"
                  required
                />
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input
                  type="text"
                  matInput
                  placeholder="HORA DE CIERRE"
                  formControlName="horaCierreCadena"
                  required
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="form-group">
              <button
                mat-raised-button
                type="button"
                class="btn btn-primary"
                (click)="confirmar()"
                [disabled]="!form.valid"
              >
                Confirmar
              </button>
              <button
                mat-raised-button
                type="button"
                class="btn btn-default btn-fill btn-wd"
                (click)="cancelar()"
              >
                Cancelar
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
